.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: $tealColor;
  cursor: pointer;
}

.pageTitle {
  color: rgb(246, 246, 246);
}