.homeHeader {
  background-color: $orangeColor;
  .headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    .headerTextContainer {
      min-width: 350px;
      flex: 1 0 45%;
      text-align: center;
      align-self: center;
      h1 {
        display: inline-block;
        position: relative;
        align-self: center;
        top: 0;
        left: 0;
      }
      h1::before {
        content: "";
        background-image: url(../assets/circle-text.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        padding-top: 50px;
        width: 100%;
        height: 100%;
        top: -50px;
        left: -50px;
      }
    }
    .headerImageContainer {
      flex: 1 0 45%;
      height: 500px;
      position: relative;
      align-self: center;
      img {
        width: 60%;
        height: auto;
        min-width: 350px;
        position: absolute;
        top: 0;
        left: 100px;
        right: 0;
        box-shadow: 20px 20px 0 white;
      }
    }
  }
}

main {
  .sophieIntro {
    background-color: $whiteShadeColor;
    padding: 100px 0;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .sophieThing {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    .favouriteThing {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .favouriteImageContainer {
        flex: 1 0 50%;
        background-color: $redColor;
        display: flex;
        justify-content: flex-end;
        transform: translateY(-30px);
        img {
          width: 80%;
          transform: translate(-20px, -20px);
        }
      }
      .favouriteTextContainer {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .wrapper {
          width: 80%;
        }
      }
    }
    .travelled {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: right;
      .travelledTextContainer {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .wrapper {
          width: 80%;
        }
      }
      .travelledImageContainer {
        flex: 1 0 50%;
        background-color: $orangeColor;
        display: flex;
        justify-content: flex-start;
        transform: translateY(50px);
        img {
          width: 80%;
          transform: translate(-20px, -20px);
        }
      }
    }
  }
  .sophieJourney {
    background-color: $whiteShadeColor;
    .extraLinks ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 100px 0;
      li {
        flex: 1 0 calc(40% - 95px);
        margin-left: 95px;
        h3 {
          position: relative;
          display: inline-block;
        }
        h3::before {
          font-family: "FontAwesome";
          font-size: 1.6rem;
          border-radius: 50%;
          background-color: $orangeColor;
          color: $blackColor;
          padding: 20px;
          text-align: center;
          vertical-align: center;
          position: absolute;
          top: -25px;
          left: -85px;
        }
        .photosLink::before {
          content: "\f03e";
        }
        .aboutLink::before {
          content: "\f007";
        }
        .blogLink::before {
          content: "\e163";
        }
        .getInTouchLink::before {
          content: "\f879";
        }
      }
    }
    img {
      width: 100%;
    }
    .aboutJourney {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 100px 0;
      .journeyImageContainer {
        flex: 1 0 30%;
        img {
          width: 80%;
          box-shadow: 20px 20px 0 $orangeColor;
        }
      }
      .journeyTextContainer {
        flex: 1 0 calc(70% - 100px);
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h2, p, button {
          flex: 1 0 auto;
        }
      }
    }
  }
  .extraPictures {
    margin: 50px 0;
    .extraPicturesContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      li {
        flex: 1 0 calc(100% / 3 - 20px);
        height: 400px;
        min-width: 400px;
        img {
          min-width: 350px;
          height: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}