nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $orangeColor;
  color: $blackColor;
  .wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 15px 30px;
      h2 {
        font-family: $headerFont;
        padding: 0 30px;
      }
    }
  }
}