nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $orangeColor;
  color: $blackColor;
  .wrapper {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 15px 20px;
        h2 {
          font-family: $headerFont;
          padding: 0 30px;
        }
      }
    }
  }
}
.slidingMenu {
  visibility: hidden;
  position: fixed;
  display: inline-block;
  z-index: 10;
  text-transform: uppercase;
  font-weight: bold;
  top: 0px;
  right: 10px;
  border: 3px solid $greyColor;
  color: $greyColor;
  padding: 5px 10px;
  box-shadow: 0px 10px 5px $redColor;
  transition: all 0.2s;
}
.slidingMenuBar {
  position: fixed;
  background-color: $orangeColor;
  color: $blackColor;
  z-index: 10;
  top: 80px;
  width: 20%;
  right: -20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s;
  li {
    align-self: stretch;
    a {
      border-bottom: 2px solid rgb(246, 246, 246);
      transition: all 0.3s;
      display: block;
    }
    a:hover,
    a:focus {
      background-color: $tealColor;
    }
  }
}
.clickedMenu {
  top: 5px;
  box-shadow: 0px 5px 5px $redColor;
  color: $whiteShadeColor;
  border-color: $whiteShadeColor;
  background-color: $tealColor;
}
.clickedMenuBar {
  right: 0%;
}