$headerFont: "Lora", serif;
$mainFont: "Roboto", sans-serif;

$baseFontSize: 1rem;

$orangeColor: #f6a823;
$tealColor: #05afc1;
$greyColor: #4f4f4f;
$redColor: #a82706;
$greyBlueColor: #285e64;
$whiteShadeColor: #f0efed;
$blackColor: #2c2c2c;