html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  font-weight: bold;
}
@font-face {
  font-family: "Lora", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
  font-weight: Bold 700;
}
html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #2c2c2c;
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  font-family: "Lora", serif;
  font-size: 4rem;
  line-height: 92px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: normal;
}

button {
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

a {
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c2c2c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  font-size: 1.2rem;
  color: rgb(246, 246, 246);
}

ul, li, a, input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #05afc1;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f6a823;
  color: #2c2c2c;
}
nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper ul a {
  padding: 15px 30px;
}
nav .wrapper ul a h2 {
  font-family: "Lora", serif;
  padding: 0 30px;
}

.homeHeader {
  background-color: #f6a823;
}
.homeHeader .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.homeHeader .headerContainer .headerTextContainer {
  min-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.homeHeader .headerContainer .headerTextContainer h1 {
  display: inline-block;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  top: 0;
  left: 0;
}
.homeHeader .headerContainer .headerTextContainer h1::before {
  content: "";
  background-image: url(../assets/circle-text.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  top: -50px;
  left: -50px;
}
.homeHeader .headerContainer .headerImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  height: 500px;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
}
.homeHeader .headerContainer .headerImageContainer img {
  width: 60%;
  height: auto;
  min-width: 350px;
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  -webkit-box-shadow: 20px 20px 0 white;
          box-shadow: 20px 20px 0 white;
}

main .sophieIntro {
  background-color: #f0efed;
  padding: 100px 0;
}
main .sophieIntro .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .sophieThing {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
main .sophieThing .favouriteThing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .sophieThing .favouriteThing .favouriteImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background-color: #a82706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
main .sophieThing .favouriteThing .favouriteImageContainer img {
  width: 80%;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}
main .sophieThing .favouriteThing .favouriteTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .sophieThing .favouriteThing .favouriteTextContainer .wrapper {
  width: 80%;
}
main .sophieThing .travelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
}
main .sophieThing .travelled .travelledTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
main .sophieThing .travelled .travelledTextContainer .wrapper {
  width: 80%;
}
main .sophieThing .travelled .travelledImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background-color: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
main .sophieThing .travelled .travelledImageContainer img {
  width: 80%;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}
main .sophieJourney {
  background-color: #f0efed;
}
main .sophieJourney .extraLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
main .sophieJourney .extraLinks ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(40% - 95px);
          flex: 1 0 calc(40% - 95px);
  margin-left: 95px;
}
main .sophieJourney .extraLinks ul li h3 {
  position: relative;
  display: inline-block;
}
main .sophieJourney .extraLinks ul li h3::before {
  font-family: "FontAwesome";
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: #f6a823;
  color: #2c2c2c;
  padding: 20px;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: -25px;
  left: -85px;
}
main .sophieJourney .extraLinks ul li .photosLink::before {
  content: "\f03e";
}
main .sophieJourney .extraLinks ul li .aboutLink::before {
  content: "\f007";
}
main .sophieJourney .extraLinks ul li .blogLink::before {
  content: "\e163";
}
main .sophieJourney .extraLinks ul li .getInTouchLink::before {
  content: "\f879";
}
main .sophieJourney img {
  width: 100%;
}
main .sophieJourney .aboutJourney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
main .sophieJourney .aboutJourney .journeyImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}
main .sophieJourney .aboutJourney .journeyImageContainer img {
  width: 80%;
  -webkit-box-shadow: 20px 20px 0 #f6a823;
          box-shadow: 20px 20px 0 #f6a823;
}
main .sophieJourney .aboutJourney .journeyTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(70% - 100px);
          flex: 1 0 calc(70% - 100px);
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .sophieJourney .aboutJourney .journeyTextContainer h2, main .sophieJourney .aboutJourney .journeyTextContainer p, main .sophieJourney .aboutJourney .journeyTextContainer button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
main .extraPictures {
  margin: 50px 0;
}
main .extraPictures .extraPicturesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .extraPictures .extraPicturesContainer li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.3333333333% - 20px);
          flex: 1 0 calc(33.3333333333% - 20px);
  height: 400px;
  min-width: 400px;
}
main .extraPictures .extraPicturesContainer li img {
  min-width: 350px;
  height: 100%;
  margin: 0 auto;
}

footer {
  background-color: #4f4f4f;
  color: #f0efed;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 10px 0;
}