@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  font-weight: bold;
}
@font-face {
  font-family: "Lora", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
  font-weight: Bold 700;
}
html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #2c2c2c;
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  font-family: "Lora", serif;
  font-size: 4rem;
  line-height: 92px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: normal;
}

button {
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

button:hover,
button:focus {
  color: rgb(246, 246, 246);
}

a {
  display: inline-block;
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c2c2c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

a:hover,
a:focus {
  color: rgb(246, 246, 246);
}

footer {
  font-size: 1.2rem;
  color: rgb(246, 246, 246);
}

ul, li, a, input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #05afc1;
  cursor: pointer;
}

.pageTitle {
  color: rgb(246, 246, 246);
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #f6a823;
  color: #2c2c2c;
}
nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper ul a {
  padding: 15px 20px;
}
nav .wrapper ul a h2 {
  font-family: "Lora", serif;
  padding: 0 30px;
}

.slidingMenu {
  visibility: hidden;
  position: fixed;
  display: inline-block;
  z-index: 10;
  text-transform: uppercase;
  font-weight: bold;
  top: 0px;
  right: 10px;
  border: 3px solid #4f4f4f;
  color: #4f4f4f;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 10px 5px #a82706;
          box-shadow: 0px 10px 5px #a82706;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slidingMenuBar {
  position: fixed;
  background-color: #f6a823;
  color: #2c2c2c;
  z-index: 10;
  top: 80px;
  width: 20%;
  right: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.slidingMenuBar li {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.slidingMenuBar li a {
  border-bottom: 2px solid rgb(246, 246, 246);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.slidingMenuBar li a:hover,
.slidingMenuBar li a:focus {
  background-color: #05afc1;
}

.clickedMenu {
  top: 5px;
  -webkit-box-shadow: 0px 5px 5px #a82706;
          box-shadow: 0px 5px 5px #a82706;
  color: #f0efed;
  border-color: #f0efed;
  background-color: #05afc1;
}

.clickedMenuBar {
  right: 0%;
}

footer {
  background-color: #4f4f4f;
  color: #f0efed;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 10px 0;
}

.homeHeader {
  background-color: #f6a823;
}
.homeHeader .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 20px;
}
.homeHeader .headerContainer .headerTextContainer {
  min-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 60px;
}
.homeHeader .headerContainer .headerTextContainer h1 {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.homeHeader .headerContainer .headerTextContainer h1::before {
  content: "";
  background-image: url(../assets/circle-text.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  top: -50px;
  left: -50px;
}
.homeHeader .headerContainer .headerImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  height: 500px;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
}
.homeHeader .headerContainer .headerImageContainer img {
  width: 60%;
  height: auto;
  min-width: 300px;
  position: absolute;
  top: 60px;
  left: 100px;
  right: 0;
  -webkit-box-shadow: 20px 20px 0 white;
          box-shadow: 20px 20px 0 white;
}

.homeMain .sophieIntro {
  background-color: #f0efed;
  padding: 100px 0;
}
.homeMain .sophieIntro .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.homeMain .sophieThing {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
.homeMain .sophieThing .favouriteThing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homeMain .sophieThing .favouriteThing .favouriteImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background-color: #a82706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}
.homeMain .sophieThing .favouriteThing .favouriteImageContainer img {
  width: 80%;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}
.homeMain .sophieThing .favouriteThing .favouriteTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.homeMain .sophieThing .favouriteThing .favouriteTextContainer .wrapper {
  width: 80%;
}
.homeMain .sophieThing .travelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
}
.homeMain .sophieThing .travelled .travelledTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.homeMain .sophieThing .travelled .travelledTextContainer .wrapper {
  width: 80%;
}
.homeMain .sophieThing .travelled .travelledImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background-color: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.homeMain .sophieThing .travelled .travelledImageContainer img {
  width: 80%;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}
.homeMain .sophieJourney {
  background-color: #f0efed;
}
.homeMain .sophieJourney .extraLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
.homeMain .sophieJourney .extraLinks ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(40% - 95px);
          flex: 1 0 calc(40% - 95px);
  margin-left: 95px;
}
.homeMain .sophieJourney .extraLinks ul li h3 {
  position: relative;
  display: inline-block;
}
.homeMain .sophieJourney .extraLinks ul li h3::before {
  font-family: "FontAwesome";
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: #f6a823;
  color: #2c2c2c;
  padding: 20px;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: -25px;
  left: -85px;
}
.homeMain .sophieJourney .extraLinks ul li .photosLink::before {
  content: "\f03e";
}
.homeMain .sophieJourney .extraLinks ul li .aboutLink::before {
  content: "\f007";
}
.homeMain .sophieJourney .extraLinks ul li .blogLink::before {
  content: "\e163";
}
.homeMain .sophieJourney .extraLinks ul li .getInTouchLink::before {
  content: "\f879";
}
.homeMain .sophieJourney .extraLinks ul li a,
.homeMain .sophieJourney .extraLinks ul li h3::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.homeMain .sophieJourney .extraLinks ul li a:hover,
.homeMain .sophieJourney .extraLinks ul li a:focus,
.homeMain .sophieJourney .extraLinks ul li h3:hover::before,
.homeMain .sophieJourney .extraLinks ul li h3:focus::before {
  color: #05afc1;
}
.homeMain .sophieJourney img {
  width: 100%;
}
.homeMain .sophieJourney .aboutJourney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
.homeMain .sophieJourney .aboutJourney .journeyImageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}
.homeMain .sophieJourney .aboutJourney .journeyImageContainer img {
  width: 80%;
  -webkit-box-shadow: 20px 20px 0 #f6a823;
          box-shadow: 20px 20px 0 #f6a823;
}
.homeMain .sophieJourney .aboutJourney .journeyTextContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(70% - 100px);
          flex: 1 0 calc(70% - 100px);
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.homeMain .sophieJourney .aboutJourney .journeyTextContainer h2, .homeMain .sophieJourney .aboutJourney .journeyTextContainer p, .homeMain .sophieJourney .aboutJourney .journeyTextContainer button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.homeMain .extraPictures {
  margin: 50px 0;
}
.homeMain .extraPictures .extraPicturesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.homeMain .extraPictures .extraPicturesContainer li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.3333333333% - 20px);
          flex: 1 0 calc(33.3333333333% - 20px);
  height: 400px;
  min-width: 400px;
}
.homeMain .extraPictures .extraPicturesContainer li img {
  min-width: 350px;
  height: 100%;
  margin: 0 auto;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}
.blogHeader h1 {
  margin: 0;
  position: relative;
  bottom: -425px;
  left: 0;
}

.blogMain {
  padding: 150px 0;
  background-color: #f0efed;
}
.blogMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.blogMain .wrapper .blogInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogMain .wrapper .blogInfo p {
  margin: 0;
}
.blogMain .wrapper .blogInfo p span {
  font-weight: bold;
  color: #285e64;
}
.blogMain .wrapper .blogInfo .aboutSophie,
.blogMain .wrapper .blogInfo .recentPostsLink {
  padding: 35px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.blogMain .wrapper .blogInfo .recentPostsLink {
  margin-top: 50px;
}
.blogMain .wrapper .blogInfo .recentPostsLink h4 {
  margin-top: 0;
}
.blogMain .wrapper .blogInfo .recentPostsLink ul li {
  padding-left: 15px;
}
.blogMain .wrapper .blogInfo .recentPostsLink ul li a {
  font-weight: normal;
  text-transform: none;
}
.blogMain .wrapper .blogInfo .recentPostsLink ul li a::before {
  content: "•";
  color: #f6a823;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.blogMain .wrapper .blogPost {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 65%;
          flex: 1 0 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 50px;
}
.blogMain .wrapper .blogPost .blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost {
  background-color: white;
  padding: 35px;
  border-bottom: 5px solid #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost h3 {
  margin: 0;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost .blogPublisher {
  font-style: italic;
  padding: 15px 0;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost .blogPublisher span {
  color: #285e64;
  font-weight: bold;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost p {
  margin: 0;
}
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost p br {
  margin-bottom: 15px;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  gap: 25px;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  padding: 35px;
  gap: 20px;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne .commentPostOneImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne .commentPostOneText {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne .commentPostOneText .commentPoster {
  font-style: italic;
  font-weight: bold;
  color: #285e64;
  margin: 10px 0;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  padding: 35px;
  gap: 20px;
  border-bottom: 5px solid #f6a823;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo .commentPostTwoImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo .commentPostTwoText {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
}
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo .commentPostTwoText .commentPoster {
  font-style: italic;
  font-weight: bold;
  color: #285e64;
  margin: 10px 0;
}
.blogMain .wrapper .blogPost .postCommentFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.blogMain .wrapper .blogPost .postCommentFormContainer .formName,
.blogMain .wrapper .blogPost .postCommentFormContainer .formEmail {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
}
.blogMain .wrapper .blogPost .postCommentFormContainer .formComment,
.blogMain .wrapper .blogPost .postCommentFormContainer .blogPageButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.blogMain .wrapper .blogPost .postCommentFormContainer .formName input,
.blogMain .wrapper .blogPost .postCommentFormContainer .formEmail input,
.blogMain .wrapper .blogPost .postCommentFormContainer .formComment textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 0 20px 30px;
}
.blogMain .wrapper .blogPost .postCommentFormContainer input::-webkit-input-placeholder, .blogMain .wrapper .blogPost .postCommentFormContainer textarea::-webkit-input-placeholder {
  font-style: italic;
}
.blogMain .wrapper .blogPost .postCommentFormContainer input::-moz-placeholder, .blogMain .wrapper .blogPost .postCommentFormContainer textarea::-moz-placeholder {
  font-style: italic;
}
.blogMain .wrapper .blogPost .postCommentFormContainer input:-ms-input-placeholder, .blogMain .wrapper .blogPost .postCommentFormContainer textarea:-ms-input-placeholder {
  font-style: italic;
}
.blogMain .wrapper .blogPost .postCommentFormContainer input::-ms-input-placeholder, .blogMain .wrapper .blogPost .postCommentFormContainer textarea::-ms-input-placeholder {
  font-style: italic;
}
.blogMain .wrapper .blogPost .postCommentFormContainer input::placeholder,
.blogMain .wrapper .blogPost .postCommentFormContainer textarea::placeholder {
  font-style: italic;
}
.blogMain .wrapper .blogPost .postCommentFormContainer .formName input,
.blogMain .wrapper .blogPost .postCommentFormContainer .formEmail input {
  height: 100px;
}
.blogMain .wrapper .blogPost .postCommentFormContainer .formComment textarea {
  height: 500px;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}
.contactHeader h1 {
  margin: 0;
  position: relative;
  bottom: -425px;
  left: 0;
}

.contactMain {
  padding: 150px 0;
  background-color: #f0efed;
}
.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.contactMain .wrapper .contactInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(30% - 50px);
          flex: 1 0 calc(30% - 50px);
  background-color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 35px;
}
.contactMain .wrapper .contactInfo .snsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactMain .wrapper .contactInfo .snsIcons .fa-brands {
  color: #f6a823;
  font-size: 1.5rem;
  margin-right: 25px;
}
.contactMain .wrapper .contactInfo .infoEmail {
  font-weight: bold;
}
.contactMain .wrapper .contactForm {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(65% - 50px);
          flex: 1 0 calc(65% - 50px);
}
.contactMain .wrapper .contactForm .contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.contactMain .wrapper .contactForm .contactFormContainer .contactName,
.contactMain .wrapper .contactForm .contactFormContainer .contactEmail {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
}
.contactMain .wrapper .contactForm .contactFormContainer .contactMessage,
.contactMain .wrapper .contactForm .contactFormContainer .contactPageButton {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.contactMain .wrapper .contactForm .contactFormContainer .contactName input,
.contactMain .wrapper .contactForm .contactFormContainer .contactEmail input,
.contactMain .wrapper .contactForm .contactFormContainer .contactMessage textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 0 20px 30px;
}
.contactMain .wrapper .contactForm .contactFormContainer input::-webkit-input-placeholder, .contactMain .wrapper .contactForm .contactFormContainer textarea::-webkit-input-placeholder {
  font-style: italic;
}
.contactMain .wrapper .contactForm .contactFormContainer input::-moz-placeholder, .contactMain .wrapper .contactForm .contactFormContainer textarea::-moz-placeholder {
  font-style: italic;
}
.contactMain .wrapper .contactForm .contactFormContainer input:-ms-input-placeholder, .contactMain .wrapper .contactForm .contactFormContainer textarea:-ms-input-placeholder {
  font-style: italic;
}
.contactMain .wrapper .contactForm .contactFormContainer input::-ms-input-placeholder, .contactMain .wrapper .contactForm .contactFormContainer textarea::-ms-input-placeholder {
  font-style: italic;
}
.contactMain .wrapper .contactForm .contactFormContainer input::placeholder,
.contactMain .wrapper .contactForm .contactFormContainer textarea::placeholder {
  font-style: italic;
}
.contactMain .wrapper .contactForm .contactFormContainer .contactName input,
.contactMain .wrapper .contactForm .contactFormContainer .contactEmail input {
  height: 100px;
}
.contactMain .wrapper .contactForm .contactFormContainer .contactMessage textarea {
  height: 500px;
}

@media (max-width: 1250px) {
  .homeMain .sophieThing .favouriteThing .favouriteImageContainer {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }

  .homeMain .sophieThing .travelled .travelledImageContainer {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }

  .homeMain .sophieThing .favouriteThing .favouriteImageContainer img {
    -webkit-transform: translate(-20px, -15px);
            transform: translate(-20px, -15px);
    width: 85%;
  }

  .homeMain .sophieThing .travelled .travelledImageContainer img {
    -webkit-transform: translate(15px, -20px);
            transform: translate(15px, -20px);
    width: 85%;
  }
}
@media (max-width: 1120px) {
  .homeMain .sophieThing .favouriteThing .favouriteImageContainer {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .homeMain .sophieThing .travelled .travelledImageContainer {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .homeMain .sophieThing .favouriteThing .favouriteImageContainer img {
    -webkit-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
  }

  .homeMain .sophieThing .travelled .travelledImageContainer img {
    -webkit-transform: translate(15px, -15px);
            transform: translate(15px, -15px);
  }
}
@media (max-width: 977px) {
  .homeHeader .headerContainer .headerImageContainer img {
    width: 50%;
    left: 30px;
  }

  .blogHeader {
    background-position: 60% 0%;
  }

  .blogMain .wrapper .blogInfo .aboutSophie,
.blogMain .wrapper .blogInfo .recentPostsLink,
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost,
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne,
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo {
    padding: 30px;
  }

  .blogMain .wrapper,
.blogMain .wrapper .blogInfo,
.blogMain .wrapper .blogPost,
.blogMain .wrapper .blogPost .blogPostContainer {
    gap: 35px;
  }

  .blogMain .wrapper .blogInfo .recentPostsLink {
    margin-top: 35px;
  }

  .contactMain .wrapper {
    gap: 35px;
  }

  .contactMain .wrapper .contactInfo {
    padding: 30px;
  }
}
@media (max-width: 792px) {
  html {
    font-size: 100%;
  }

  .homeHeader .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .homeHeader .headerContainer .headerImageContainer {
    position: static;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .homeHeader .headerContainer .headerImageContainer img {
    position: static;
  }

  .mainMenuBar {
    visibility: hidden;
  }

  nav {
    background: none;
    position: fixed;
  }

  .slidingMenu {
    visibility: visible;
  }

  .homeMain .sophieThing .favouriteThing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }

  .homeMain .sophieThing .travelled {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }

  .homeMain .sophieThing .travelled .travelledTextContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .homeMain .sophieThing .favouriteThing .favouriteImageContainer img {
    -webkit-transform: translate(-65px, -15px);
            transform: translate(-65px, -15px);
  }

  .homeMain .sophieThing .travelled .travelledImageContainer img {
    -webkit-transform: translate(65px, -15px);
            transform: translate(65px, -15px);
  }

  .blogHeader h1 {
    position: static;
    padding-top: 150px;
  }

  .blogMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogMain .wrapper .blogInfo .aboutSophie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }

  .blogMain .wrapper .blogInfo .aboutSophie .aboutSophieImageContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(30% - 20px);
            flex: 1 0 calc(30% - 20px);
  }

  .blogMain .wrapper .blogInfo .aboutSophie .aboutSophieTextContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(60% - 20px);
            flex: 1 0 calc(60% - 20px);
  }

  .blogMain .wrapper .blogInfo .aboutSophie .aboutSophieTextContainer h4 {
    margin-top: 0;
  }

  .blogMain .wrapper .blogInfo .aboutSophie,
.blogMain .wrapper .blogInfo .recentPostsLink,
.blogMain .wrapper .blogPost .blogPostContainer .currentBlogPost,
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostOne,
.blogMain .wrapper .blogPost .blogPostContainer .commentContainer .commentPostTwo {
    padding: 20px;
  }

  .blogMain .wrapper,
.blogMain .wrapper .blogInfo,
.blogMain .wrapper .blogPost,
.blogMain .wrapper .blogPost .blogPostContainer {
    gap: 20px;
  }

  .blogMain .wrapper .blogInfo .recentPostsLink {
    margin-top: 20px;
  }

  .contactHeader h1 {
    position: static;
    padding-top: 150px;
  }

  .contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contactMain .wrapper .contactInfo {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }

  .contactMain .wrapper .contactForm {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
}
@media (max-width: 656px) {
  .homeMain .sophieThing .favouriteThing .favouriteImageContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .homeMain .sophieThing .travelled .travelledImageContainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .homeMain .sophieThing .favouriteThing .favouriteImageContainer img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .homeMain .sophieThing .travelled .travelledImageContainer img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .homeMain .sophieJourney .extraLinks ul,
.homeMain .sophieJourney .aboutJourney {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .homeMain .sophieJourney .aboutJourney {
    padding-left: 0;
  }

  .homeMain .sophieJourney .aboutJourney .journeyImageContainer {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .homeMain .sophieJourney .aboutJourney .journeyImageContainer img {
    width: 50%;
    height: auto;
  }

  .homeMain .sophieJourney .aboutJourney .journeyTextContainer {
    padding-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
}